@use "functions" as *;

.layout {
    width: 100%;
    height: 100vh;
    overflow: auto;
    &__navigation,&__outlet{
        height: 100%;
    }
    
    &__navigation {
        background-color: var(--primary);
        width: 4.5rem;
        display: block;
        position: absolute;
        left: 0;
        top: 0;

    }

    &__outlet {
        margin-inline-start: 4.5rem;
        width: calc(100% - 4.5rem);
        height: auto;

        &__header{
            position: sticky;
            top: 0;
            z-index: 99;
        }

        &__main {
            padding: toRem(55);
        }

    }
}