@use "functions" as *;

:host {
  display: block;
}
.search{
  display: flex;
  gap: toRem(14);
  align-items: center;
  color: var(--grey);
  &__icon{

  }
  &__input{
    font-size: toRem(16);
    padding: toRem(6);
    padding-left: 0;

  }
}