@use "functions" as *;

:host {
  display: block;
  background-color: var(--primary);
  padding: toRem(30) toRem(30) toRem(27);
}

.card{
  border-radius: 3px;
  background-color: inherit;
  &__title{
    font-size: toRem(16);
    font-weight: 600;
    text-transform: capitalize;
    margin-block-end: toRem(24);
    color: var(--black);
  }

}
