<nav class="nav">
    <app-nav-button class="nav__toggle-btn" [icon]="ICON.faBars" />

    <ul class="nav__links">
        <li class="nav__links__link">
            <app-nav-button class="nav__links__link__item" [icon]="ICON.faCube" />
            <app-nav-button class="nav__links__link__item" [icon]="ICON.faBarChart" />
            <app-nav-button class="nav__links__link__item active-link" [icon]="ICON.faSquarePlus" />
            <app-nav-button class="nav__links__link__item" [icon]="ICON.faCheck" />
            <app-nav-button class="nav__links__link__item" [icon]="ICON.faGear" />
            <app-nav-button class="nav__links__link__item" [icon]="ICON.faDownload" />
        </li>
    </ul>
</nav>