@import url("./reset.scss");

*,
*::before,
*::after {
    font-family: 'Roboto', sans-serif;
}

*:focus-visible {
    outline: 0;
}

:root {
    font-size: clamp(0.75rem, 0.3214rem + 0.6696vw, 1.125rem);    --backgroud: hsl(217.5deg 57.14% 97.25%);
    --primary: hsl(0deg 0% 100%);
    --secondary: hsl(228.08deg 71.57% 60%);
    --black: hsl(220, 8%, 15%);
    --green: hsl(146.04deg 62.35% 50%);
    --yellow: hsl(62, 92%, 50%);
    --red: hsl(351.37deg 78.49% 63.53%);
    --grey: hsl(0, 0%, 39%);
    --light-grey: hsl(0, 0%, 84%);
    --dark-grey: hsl(0, 0%, 29%);
}

input::placeholder {
    color: var(--grey);
}

fa-icon {
    color: var(--grey);
}

body {
    background-color: var(--backgroud);
    overflow: hidden;
}


*::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

*::-webkit-scrollbar-track {
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.1);
}

*::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.2);
}

*::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.4);
}

*::-webkit-scrollbar-thumb:active {
    background: rgba(0, 0, 0, 0.9);
}