<section class="dashboard">



    <div class="dashboard__cards">
        <app-feature-card [special]="true" class="dashboard__cards__card"></app-feature-card>
        <app-feature-card class="dashboard__cards__card"></app-feature-card>
        <app-feature-card class="dashboard__cards__card"></app-feature-card>
        <app-feature-card class="dashboard__cards__card"></app-feature-card>
    </div>
    <div class="dashboard__tables">
        <app-card class="dashboard__tables__recent-order" title="recent order">
            <app-table [columns]="columns" [data]="data">
                <ng-template tableHeader let-columns>
                    <td *ngFor="let col of columns">
                        {{ col }}
                    </td>
                </ng-template>
                <ng-template tableBody let-data>
                    <td class="row" *ngFor="let col of columns">
                        {{data[col]}}
                    </td>
                </ng-template>
            </app-table>
        </app-card>
        <app-card title="New User Registrations" class="dashboard__tables__new-users">
            <app-table [columns]="columns" [data]="data">
                <ng-template tableHeader let-columns>
                    <td *ngFor="let col of columns">
                        {{ col }}
                    </td>
                </ng-template>
                <ng-template tableBody let-data>
                    <td class="row" *ngFor="let col of columns">
                        {{data[col]}}
                    </td>
                </ng-template>
            </app-table>
        </app-card>
    </div>
    <div class="dashboard__charts">
        <app-card class="dashboard__charts__sales">
            <apx-chart [series]="CHARTS_OPTION.salesChart.series" [chart]="CHARTS_OPTION.salesChart.chart"
                [xaxis]="CHARTS_OPTION.salesChart.xaxis" [title]="CHARTS_OPTION.salesChart.title"
                [yaxis]="CHARTS_OPTION.salesChart.yaxis" [stroke]="CHARTS_OPTION.salesChart.stroke"></apx-chart>
        </app-card>
        <app-card class="dashboard__charts__balance">
            <apx-chart [series]="CHARTS_OPTION.balanceChart.series" [chart]="CHARTS_OPTION.balanceChart.chart"
                [plotOptions]="CHARTS_OPTION.plotOptions" [xaxis]="CHARTS_OPTION.balanceChart.xaxis"
                [title]="CHARTS_OPTION.balanceChart.title" [yaxis]="CHARTS_OPTION.balanceChart.yaxis"
                [stroke]="CHARTS_OPTION.balanceChart.stroke" [legend]="CHARTS_OPTION.balanceChart.legend"></apx-chart>
        </app-card>
        <app-card class="dashboard__charts__products">
            <apx-chart [series]="CHARTS_OPTION.donucChart.series" [chart]="CHARTS_OPTION.donucChart.chart"
                [labels]="CHARTS_OPTION.donucChart.labels" [responsive]="CHARTS_OPTION.donucChart.responsive"
                [legend]="CHARTS_OPTION.donucChart.legend" [plotOptions]="CHARTS_OPTION.donucChart.plotOptions"
                [fill]="CHARTS_OPTION.donucChart.fill" [tooltip]="CHARTS_OPTION.donucChart.tooltip"
                [title]="CHARTS_OPTION.donucChart.title"
                ></apx-chart>
        </app-card>


    </div>
</section>