@use "functions" as *;

:host {
  display: block;
}
.profile{
  display: inline flex;
  gap: toRem(8);
  max-width: toRem(150);
  &__picture{
    align-self: self-start;
    position: relative;
    width: toRem(38);
    height: auto;
    aspect-ratio: 1;
    &__image{
      width: toRem(38);
      object-fit: cover;
      border-radius: 50%;
      display: block;
    }
    &__status{
      width: toRem(10);
      height: auto;
      aspect-ratio: 1;
      background-color: var(--secondary);
      position: absolute;
      z-index: 3;
      bottom: 0;
      right: 0;
      border-radius: 50%;
      &--active{
        background-color: var(--green);
      }
    }
  }
  &__info{
    display: flex;
    flex-direction: column;
    gap: toRem(8);
    min-width: toRem(90);
    &__name{
      font-size: toRem(14);
      line-height: 1;
      color: var(--black);
      text-transform: capitalize;
    }
    &__location{
      font-size: toRem(12);
      line-height: 1;
      color: var(--grey);
      text-transform: capitalize;
    }
  }
  &__progress{}

}
