<app-dialog *ngIf="showDialouge" (onClose)="toggleDialoge()">
    <table class="dialog-data">
        <tr *ngFor="let col of columns">
            <td>{{col.name | titlecase}}</td>
            <ng-container [ngSwitch]="col.name">
                <ng-container *ngSwitchCase="'delivery date'">
                    {{selectedRow[ col.field] | date: 'dd MMM, y'}}
                </ng-container>
                <ng-container *ngSwitchCase="'status'">
                    <app-chip [class]="selectedRow[ col.field]">
                        {{selectedRow[ col.field] }}
                    </app-chip>
                </ng-container>
                <ng-container *ngSwitchCase="'tracking no#'">
                    <td> #{{ selectedRow[col.field]}}</td>
                </ng-container>
                <ng-container *ngSwitchCase="'action'">
                    <td></td>
                </ng-container>
                <ng-container *ngSwitchDefault>
                    <td>{{ selectedRow[col.field]}}</td>
                </ng-container>
            </ng-container>
        </tr>
    </table>
</app-dialog>
<app-card class="recent-order" title="recent order">
    <app-table [columns]="columns" [data]="recentOrder" [showIndex]="true">
        <ng-template tableHeader let-columns>
            <ng-container *ngFor="let col of columns">
                <td [align]="col?.align ?? 'left'">
                    {{ col.name }}
                </td>

            </ng-container>
        </ng-template>
        <ng-template tableBody let-data>
            <ng-container *ngFor="let col of columns; let last = last">
                <td class="row" [align]="col?.align ?? 'left'">
                    <ng-container>
                        <ng-container [ngSwitch]="col.name">
                            <ng-container *ngSwitchCase="'status'">
                                <div class="chip__wrapper">
                                    <app-chip [class]="data[ col.field]">
                                        {{data[ col.field] }}
                                    </app-chip>
                                </div>
                            </ng-container>
                            <ng-container *ngSwitchCase="'delivery date'">
                                {{data[ col.field] | date: 'dd MMM, y'}}
                            </ng-container>
                            <ng-container *ngSwitchCase="'tracking no#'">
                                #{{data[ col.field] }}
                            </ng-container>
                            <ng-container *ngSwitchCase="'shipping'">
                                {{data[ col.field] ? 'Yes' : 'No' }}
                            </ng-container>
                            <ng-container *ngSwitchCase="'action'">
                                <app-button (click)="toggleDialoge(data)" class="detail-btn">
                                    <fa-icon [icon]="faX"></fa-icon>
                                </app-button>
                            </ng-container>
                            <ng-container *ngSwitchDefault>
                                {{data[ col.field] }}
                            </ng-container>
                        </ng-container>
                    </ng-container>

                </td>
            </ng-container>
        </ng-template>
    </app-table>
</app-card>